stages:
  - deploy
  - github

deploy_production:
  stage: deploy
  only:
    - main
  before_script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  script:
    - ssh -o StrictHostKeyChecking=no root@172.21.23.74 "cd /var/www/application/esupply && git pull origin main && echo 'Deployment Finish' "

deploy_to_github:
  stage: github
  only:
    - main
  before_script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  script:
    - ssh -o StrictHostKeyChecking=no root@172.21.23.74 "cd /var/www/application/esupply && git push old-origin main && echo 'Update to Github Repo Finish' "



